[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Alex Pruden
	email = apruden2008@gmail.com
[core]
	editor = vim
[pull]
	rebase = false
[http]
	postBuffer = 524288000
